*{
    margin: 0;
    padding: 0;
}

.about{
    /* background-image: url('https: //c0.wallpaperflare.com/preview/416/65/82/the-john-rylands-library-john-rylands-library-libraries.jpg'); */
    text-align: center;

}
.abt{
    text-align: center;
    margin-top: 7rem;

}

.rowcon .img img {
    float: left;
    width:500px;
    height: 400px;
    padding-left: 30px;

}