@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* .ambulance {
    margin-bottom: -50px;
} */

/* working on the home.home section */
.home .rowcon {
    position: relative;
    display: flex;
    padding-top: 20px;
}

.home .rowcon .img {
    float: left;
}

.home .rowcon .img img {
    width: 500px;
    height: 400px;
    padding-left: 30px;
}

.home .rowcon .content {
    float: left;
    padding-top: 75px;
    padding-left: 75px;
}

.home .rowcon .content span {
    font-weight: 600;
    padding-left: 10px;
}

.home .rowcon .content h2 {
    color: #290d13;
    font-size: 40px;
}

.home .rowcon .content p {
    padding-right: 8rem;
    font-size: 20px;
}

.home .rowcon .content button {
    margin-top: 20px;
    width: 150px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.home .rowcon .content button a {
    font-size: 20px;
}

.home .rowcon .content #enr {
    background-color: #290d13;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 5px #290d13;
}

.home .rowcon .content #enrl {
    color: white;
}

.home .rowcon .content #ex {
    background-color: white;
    border: 1px solid #290d13;
    margin-left: 20px;
}

.home .rowcon .content #exp {
    color: #290d13;
}